<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create an Article</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    
    <div class="container mt-5" style="border: 1px solid #dedede; display: flex; flex-direction: column;justify-content: center;">
        <h2 class="mb-2 mt-2">Create new Article</h2>
        <form action="/articles" method="POST">
            <%- include('./_form_component.ejs') %>
            <button type="submit" class="btn btn-success btn-lg mt-4 mb-4" style="align-self: center; align-tracks: center; align-items: center;">Submit</button>
        </form>
    </div>
</body>
</html>